<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ asset("/css/iframe.css") }}">
</head>
<body>

Index.html.twig
<pre>{{ name }}</pre>
<pre>{{ route }}</pre>

</body>
</html>